<h1><strong>Cadastrar Questionário</strong></h1>

<form clrForm clrLayout="vertical">
  <clr-textarea-container>
    <label>Descrição do Questionário</label>
    <textarea clrTextarea rows="4" placeholder="descrição"></textarea>
  </clr-textarea-container>
  <clr-input-container>
    <label>Pontuação do Questionario</label>
    <input clrInput type="text" [(ngModel)]="pontuacaoQuestionario" name="pontuacaoQuestionario" required />
    <clr-control-error>A Pontuação deve ser inserida!</clr-control-error>
  </clr-input-container><br />
  <clr-select-container>
    <label>Empresa</label>
    <select clrSelect name="optionsEmpresa" [(ngModel)]="optionsEmpresa">
      <option value="one">Empresa 1</option>
      <option value="two">Empresa 2</option>
      <option value="three">Empresa 3</option>
    </select>
  </clr-select-container>
  <clr-select-container>
    <label>Interesse</label>
    <select clrSelect name="optionsInteresse" [(ngModel)]="optionsInteresse">
      <option value="música">Música</option>
      <option value="Esporte">Esporte</option>
      <option value="Carros">Carros</option>
      <option value="Filmes">Filmes</option>
      <option value="Comida">Comida</option>
      <option value="Bebida">Bebida</option>
      <option value="Politica">Política</option>
      <option value="Eletroeletronicos">Eletroeletronicos</option>
      <option value="Viagens">Viagens</option>
      <option value="Educacao">Educaçao</option>
      <option value="Fofoca">Fofoca</option>
      <option value="Intenet">Intenet</option>
      <option value="Economia">Economia</option>
      <option value="Livros">Livros</option>
    </select>
  </clr-select-container>
  <br />
  <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="validateDemo()">cadastrar</button>
</form>