<form clrForm clrLayout="horizontal">
    <clr-input-container>
        <label>Descrição do Questionario</label>
        <input clrInput type="text" [(ngModel)]="Questionario" name="Questionario" required />
        <clr-control-error>A descrição deve ser inserida!</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label>Pontuação do Questionario</label>
      <input clrInput type="text" [(ngModel)]="pontuacaoQuestionario" name="pontuacaoQuestionario" required />
      <clr-control-error>A Pontuação deve ser inserida!</clr-control-error>
    </clr-input-container><br />
    <div class="clr-select-wrapper">
        <select id="select-basic" class="clr-select">
          <option value="1">Empresa 1</option>
          <option value="2">Empresa 2</option>
          <option value="3">Empresa 3</option>
        </select>
      </div><br /><br />
    <clr-input-container>
      <label>Número de Idendificação da Empresa</label>
      <input clrInput type="text" [(ngModel)]="identificacaoEmpresa" name="identificacaoEmpresa" required />
      <clr-control-error>O código da empresa deve ser inserido!</clr-control-error>
  </clr-input-container>