<h1><strong>Cadastrar Usuários</strong></h1>
<form clrForm clrLayout="vertical">
  <clr-input-container>
    <label>Login Usuário</label>
    <input clrInput type="text" maxlength="30" [(ngModel)]="usuarioMaster" name="usuarioMaster" required />
    <clr-control-error>O Usuário Master deve ser inserido!</clr-control-error>
  </clr-input-container>
  <span class="clr-subtext">Login do usuário pode ter no máximo 30 caracteres.</span>
  <clr-password-container>
    <label>Senha do Usuário</label>
    <input clrPassword type="password" maxlength="10" [(ngModel)]="usuarioMasterSenha" name="usuarioMasterSenha" required />
    <clr-control-error>A senha Usuário Master deve ser inserida!</clr-control-error>
  </clr-password-container>
  <span class="clr-subtext">A senha do usuário pode ter no máximo 10 caracteres.</span>
  <clr-input-container>
    <label>Nome do Usuário</label>
    <input clrInput type="text" maxlength="50" [(ngModel)]="usuarioMasterNome" name="usuarioMasterNome" required />
    <clr-control-error>O Nome Usuário Master deve ser inserido!</clr-control-error>
  </clr-input-container>
  <span class="clr-subtext">O nome do usuário pode ter no máximo 50 caracteres.</span>
  <br />
  <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="validateDemo()">cadastrar</button>
</form>