<h1><strong>Cadastrar Usuário Master</strong></h1>
<form clrForm clrLayout="vertical">
  <clr-input-container>
    <label>Login Usuário</label>
    <input clrInput type="text" maxlength="30" [(ngModel)]="usuarioMaster.login_master" name="usuarioMaster" required />
    <clr-control-error>O Usuário Master deve ser inserido!</clr-control-error>
  </clr-input-container>
  <span class="clr-subtext">Login do usuário pode ter no máximo 30 caracteres.</span>
  <clr-password-container>
    <label>Senha do Usuário</label>
    <input clrPassword type="password" maxlength="30" [(ngModel)]="usuarioMaster.senha" name="usuarioMasterSenha" required />
    <clr-control-error>A senha Usuário Master deve ser inserida!</clr-control-error>
  </clr-password-container>
  <span class="clr-subtext">A senha do usuário pode ter no máximo 30 caracteres.</span>
  <clr-input-container>
    <label>Nome do Usuário</label>
    <input clrInput type="text" maxlength="100" [(ngModel)]="usuarioMaster.nome" name="usuarioMasterNome" required />
    <clr-control-error>O Nome Usuário Master deve ser inserido!</clr-control-error>
  </clr-input-container>
  <span class="clr-subtext">O nome do usuário pode ter no máximo 100 caracteres.</span>
  <br />
  <button class="btn btn-info-outline" (click)="cadastrar()">Cadastrar</button>
  <div *ngIf="sucesso" class="alert alert-success" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">Usuário Master cadastrado com sucesso</span>
        </div>
    </div>
  </div>
  <div *ngIf="erro" class="alert alert-danger" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">{{ errorMessage }} </span>
        </div>
    </div>
  </div>
</form>
