<h1>
  <strong>Cadastrar Empresa</strong>
</h1>
<form clrForm clrLayout="vertical">
  <clr-input-container>
    <label>Razão Social</label>
    <input clrInput type="text" maxlength="100" [(ngModel)]="empresa.razao_social" name="razao_social" required />
    <clr-control-error>O nome deve ser inserido!</clr-control-error>
  </clr-input-container>
  <span class="clr-subtext">A razão social deve ter no máximo 100 caracteres.</span>
  <clr-input-container>
    <label>Nome Fantasia</label>
    <input clrInput type="text" maxlength="100" [(ngModel)]="empresa.nome_fantasia" name="nome_fantasia" required />
    <clr-control-error>O nome deve ser inserido!</clr-control-error>
  </clr-input-container>
  <span class="clr-subtext">O Nome Fantasia deve ter no máximo 100 caracteres.</span>
  <clr-input-container>
    <label>CNPJ da Empresa</label>
    <input clrInput type="text" data-mask="00.000.000/0000-00" autocomplete="off" class="form-control" maxlength="14" [(ngModel)]="empresa.cnpj" name="cnpjEmpresa" required />
    <clr-control-error>O CNPJ deve ser inserido!</clr-control-error>
  </clr-input-container>
  <span class="clr-subtext">O CNPJ deve ter 14 caracteres sem pontuação.</span>
  <br />
  <button class="btn btn-info-outline" (click)="insertEmpresa()">cadastrar</button>
  <div *ngIf="sucesso" class="alert alert-success" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">Empresa cadastrada com sucesso</span>
      </div>
    </div>
  </div>
  <div *ngIf="erro" class="alert alert-danger" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">{{ errorMessage }} </span>
      </div>
    </div>
  </div>
</form>
