<clr-datagrid>
  <clr-dg-column>ID do Questionário</clr-dg-column>
  <clr-dg-column>Descrição do Questionário</clr-dg-column>
  <clr-dg-column>Pontuação</clr-dg-column>
  <clr-dg-column>Usuário Master que Cadastrou</clr-dg-column>
  <clr-dg-column>Empresa</clr-dg-column>
  <clr-dg-column>Interesse</clr-dg-column>
  

  <clr-dg-row *ngFor="let user of users">
      <clr-dg-cell></clr-dg-cell>
      <clr-dg-cell></clr-dg-cell>
     
  </clr-dg-row>

  <clr-dg-footer> </clr-dg-footer>
</clr-datagrid>