<clr-datagrid>
  <clr-dg-placeholder>Infelizmente não achamos o que você busca =(</clr-dg-placeholder>
  <clr-dg-column>Cnpj da Empresa
    <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column>Razão Social
    <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column>Nome Fantasia
    <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column>Usuário que cadastrou
    <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter>
  </clr-dg-column>


  <clr-dg-row *ngFor="let empresa of empresas">
    <clr-dg-cell>{{ empresa.cnpj }}</clr-dg-cell>
    <clr-dg-cell>{{ empresa.razao_social }}</clr-dg-cell>
    <clr-dg-cell>{{ empresa.nome_fantasia }}</clr-dg-cell>
    <clr-dg-cell>{{ empresa.login_master }}</clr-dg-cell>
    <clr-dg-action-overflow>
      <button class="action-item" (click)="updateFunc(empresa)">Editar</button>
      <button class="action-item" (click)="apagar(empresa)">Apagar</button>
    </clr-dg-action-overflow>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Empresas por páginas</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      de {{pagination.totalItems}} Empresas
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="delete">
  <h3 class="modal-title">Excluir</h3>
  <div class="modal-body">
    <p>Tem certeza que deseja excluir?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="delete = false">Não</button>
    <button type="button" class="btn btn-primary" (click)="deletar(empresa)">Sim</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="update">
  <h3 class="modal-title">Editar</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Razáo Social:</label>
        <input clrInput type="text" [(ngModel)]="empresa.razao_social" name="razao_social" required />
        <clr-control-error>A razáo social deve ser inserida!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Nome fantasia:</label>
        <input clrInput type="text" [(ngModel)]="empresa.nome_fantasia" name="nome_fantasia" required />
        <clr-control-error>O nome fantasia deve ser inserido!</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="update = false">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="atualizarEmpresa(empresa)">Salvar</button>
  </div>
</clr-modal>