<clr-datagrid>
  <clr-dg-column>ID da Empresa</clr-dg-column>
  <clr-dg-column>Empresa</clr-dg-column>
  <clr-dg-column>CNPJ</clr-dg-column>
  <clr-dg-column>Usuario que cadastrou</clr-dg-column>
  

  <clr-dg-row *ngFor="let empresa of empresas">
      <clr-dg-cell >{{ empresa.id_empresa }}</clr-dg-cell>
      <clr-dg-cell >{{ empresa.nome_empresa }}</clr-dg-cell>
      <clr-dg-cell >{{ empresa.cnpj }}</clr-dg-cell>
      <clr-dg-cell >{{ empresa.login_master }}</clr-dg-cell>
     
  </clr-dg-row>

  <clr-dg-footer> </clr-dg-footer>
</clr-datagrid>