<clr-datagrid>
  <clr-dg-column>Id</clr-dg-column>
  <clr-dg-column>Descrição</clr-dg-column>
  

  <clr-dg-row *ngFor="let interesse of interesses">
      <clr-dg-cell>{{ interesse.id_interesse }}</clr-dg-cell>
      <clr-dg-cell>{{ interesse.descricao }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer> </clr-dg-footer>
</clr-datagrid>


<!-- Esse código abaixo será reaproveitado para a implementação real da lista, onde a mesma
recebe um JSON do back-end e mostra na tabela -->

<!-- <clr-datagrid>
  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Creation date</clr-dg-column>
  <clr-dg-column>Favorite color</clr-dg-column>

  <clr-dg-row *ngFor="let user of users">
      <clr-dg-cell>{{user.id}}</clr-dg-cell>
      <clr-dg-cell>{{user.name}}</clr-dg-cell>
      <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
      <clr-dg-cell>{{user.color}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{users.length}} users</clr-dg-footer>
</clr-datagrid> -->