<clr-datagrid>
  <clr-dg-placeholder>Infelizmente não achamos o que você busca =(</clr-dg-placeholder>
  <clr-dg-column>Id</clr-dg-column>
  <clr-dg-column>Descrição
    <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter>
  </clr-dg-column>



  <clr-dg-row *clrDgItems="let interesse of interesses">
    <clr-dg-cell>{{ interesse.id_interesse }}</clr-dg-cell>
    <clr-dg-cell>{{ interesse.descricao }}</clr-dg-cell>
    <clr-dg-action-overflow>
      <button class="action-item" (click)="updateFunc(interesse)">Editar</button>
      <button class="action-item" (click)="apagar(interesse)">Apagar</button>
    </clr-dg-action-overflow>

  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Interesses por páginas</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      de {{pagination.totalItems}} Interesses
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="delete">
  <h3 class="modal-title">Excluir</h3>
  <div class="modal-body">
    <p>Tem certeza que deseja excluir?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="delete = false">Não</button>
    <button type="button" class="btn btn-primary" (click)="deletar(interesse)">Sim</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="update">
  <h3 class="modal-title">Editar</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Interesse:</label>
        <input clrInput type="text" [(ngModel)]="interesse.descricao" name="descInteresse" required />
        <clr-control-error>O Interesse deve ser inserido!</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="update = false">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="atualizar(interesse)">Salvar</button>
  </div>
</clr-modal>