<clr-datagrid>
    <clr-dg-placeholder>Infelizmente não achamos o que você busca =(</clr-dg-placeholder>
  <clr-dg-column>Id</clr-dg-column>
  <clr-dg-column>Descrição
    <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter>
  </clr-dg-column>
  

  <clr-dg-row *ngFor="let interesse of interesses">
      <clr-dg-cell>{{ interesse.id_interesse }}</clr-dg-cell>
      <clr-dg-cell>{{ interesse.descricao }}</clr-dg-cell>
      <clr-dg-action-overflow>
          <button class="action-item" (click)="onEdit(user)">Editar</button>
          <button class="action-item" (click)="onDelete(user)">Apagar</button>
      </clr-dg-action-overflow>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Interesses por páginas</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        de {{pagination.totalItems}} Interesses
    </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>