<h1> Se precisar de alguma ajuda, por favor, entre em contato com um de nossos desenvolvedores:</h1> 
<table class="table">
    <thead>
        <tr>
            <th class="left">Nome</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">Adriano José</td>
            <td>adrianojoseadr@gmail.com</td>

        </tr>
        <tr>
            <td class="left">Elton Linconl</td>
            <td>eltonlinconl07@gmail.com</td>
        </tr>
        <tr>
            <td class="left">Fernando Araújo</td>
            <td>fernando_fbca@hotmail.com</td>
        </tr>
        <tr>
            <td class="left">Jedesson Tavares</td>
            <td>jedesson.tavares@outlook.com</td>
        </tr>
        <tr>
            <td class="left">Juliane Borba</td>
            <td>juliane.borba2@gmail.com</td>
        </tr>
        <tr>
            <td class="left">Rafael Matos</td>
            <td>developercmatos@gmail.com</td>
        </tr>
        <tr>
            <td class="left">Renato Jales</td>
            <td>renato.jales@gmail.com</td>
        </tr>
    </tbody>
</table>




<!-- 
fernando_fbca@hotmail.com    
renato.jales@gmail.com
developercmatos@gmail.com
juliane.borba2@gmail.com
adrianojoseadr@gmail.com
eltonlinconl07@gmail.com
jedesson.tavares@outlook.com
 -->
