<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="home"></clr-icon>
                <span class="title">Pitaco</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                    {{ usuarioNome }}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a href="..." clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>    
    <div class="content-container">
        <div class="content-area">
            <router-outlet name="main"></router-outlet>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">               
                <section class="nav-group collapsible">
                    <input id="tabempresa" type="checkbox">
                    <label for="tabempresa">Empresa</label>
                    <ul class="nav-list">
                        <li><a  [routerLink]="[{ outlets: { main: ['empresa'] } }]" class="nav-link">Cadastrar Empresa</a></li>
                        <li><a class="nav-link">Listar Empresa</a></li>
                    </ul>
                    <input id="tabquestionario" type="checkbox">
                    <label for="tabquestionario">Questionario</label>
                    <ul class="nav-list">
                        <li><a  [routerLink]="[{ outlets: { main: ['empresa'] } }]" class="nav-link">Cadastrar Questionarios</a></li>
                        <li><a class="nav-link">Listar Questionarios por Empresa</a></li>
                    </ul>
                    <input id="tabinteresses" type="checkbox">
                    <label for="tabinteresses">Interesses</label>
                    <ul class="nav-list">
                        <li><a  [routerLink]="[{ outlets: { main: ['empresa'] } }]" class="nav-link">Cadastrar Interesses</a></li>
                        <li><a class="nav-link">Listar Interesses</a></li>
                    </ul>
                    
                </section>                
            </section>
        </nav>
    </div>
</div>